@font-face{
	font-family: "LTFunk";
	src: url("LTFunk.otf") format('opentype');
	font-style: italic;
}

@font-face{
	font-family: "DMSansRegular";
	src: url("DMSans-Regular.ttf") format('truetype');
}

@font-face{
	font-family: "DMSansSemiBold";
	src: url("DMSans-SemiBold.ttf") format('truetype');
}

h2.experienceExampleTitle {
	margin-bottom: 0;
	font-size: 30pt;
	text-align: center;
	padding-top: 0.5in;
	padding-bottom: 0.1in;
}

img.experiencePhoto {
	width: 50%;
}

div.experienceTitleSection, div.experienceExamples, div.experienceTopParagraph, div.experienceOtherExamples {
	background-color: #FDF3DD;
}

div.experienceTitleSection, div.experienceExamples, div.experienceTopParagraph, div.experienceOtherExamples {
	padding-left: 0.5in;
	padding-right: 0.5in;
}

h3.experienceExampleHeading {
	font-size: 25pt;
	margin-bottom: 0;
	color: #B84C65;
}

h4.experienceExampleSubheading {
	font-size: 16pt;
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	font-family: DMSansRegular;
}

p.experienceTopParagraph, p.experienceOtherParagraph {
	font-size: 14pt;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0.4in;
}

div.experienceExampleImageBackgrounds {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
div.experienceExampleTitle {
	padding-left: 10%;
}

p.experienceExampleButton {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.1in;
	margin-bottom: 0.7in;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 0.1in !important;
}

div.exampleExperiencesColumns {
	display: grid;
	align-items: normal;
	grid-template-columns: 30% 70%;
}

/**Digital Marketing and Communication Examples - Home**/

div.marketingExampleImageBackground {
	background-color: #DEB3AD;
}

div.marketingExampleImage 	{ grid-area: marketingExampleImage; }
div.marketingExampleTitle	{ grid-area: marketingExampleTitle; }
div.marketingExampleText 	{ grid-area: marketingExampleText; }
div.marketingExampleButton 	{ grid-area: marketingExampleButton; }

div.marketingExample {
	grid-area: marketingExample;
	grid-template-areas: 
		"marketingExampleImage marketingExampleTitle"
		"marketingExampleText marketingExampleText"
		"marketingExampleButton marketingExampleButton"
}

/**User Experience Examples - Home**/

div.uxExampleImageBackground {
	background-color: #C97A80;
}

div.uxExampleImage 	{ grid-area: uxExampleImage; }
div.uxExampleTitle	{ grid-area: uxExampleTitle; }
div.uxExampleText 	{ grid-area: uxExampleText; }
div.uxExampleButton { grid-area: uxExampleButton; }

div.uxExample {
	grid-area: uxExample;
	grid-template-areas: 
		"uxExampleImage uxExampleTitle"
		"uxExampleText uxExampleText"
		"uxExampleButton uxExampleButton"
}

/**Research Examples - Home**/

div.researchExampleImageBackground {
	background-color: #E791A8;
}

div.researchExampleImage 	{ grid-area: researchExampleImage; }
div.researchExampleTitle	{ grid-area: researchExampleTitle; }
div.researchExampleText 	{ grid-area: researchExampleText; }
div.researchExampleButton 	{ grid-area: researchExampleButton; }

div.researchExample {
	grid-area: researchExample;
	grid-template-areas: 
		"researchExampleImage researchExampleTitle"
		"researchExampleText researchExampleText"
		"researchExampleButton researchExampleButton"
}

/**Experience Page**/

div.generalExperienceExamples {
	display: grid;
	align-items: normal;
	grid-template-columns: 100%;
	grid-template-areas:
		"marketingExample"
		"uxExample"
		"researchExample"
}

div.marketingExampleTitle, div.uxExampleTitle, div.researchExampleTitle {
	padding-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
	
div.marketingExampleButton, div.uxExampleButton, div.researchExampleButton {
	padding-left: 0;
	margin-left: 5%;
	margin-right: 5%;
}

div.marketingExampleImage, div.uxExampleImage, div.researchExampleImage {
	margin-left: 20%;
	margin-right: 20%;
}


/**API Ownership Page - UX**/

div.apiExampleImageBackground {
	background-color: #663635;
}

div.apiExampleImage { grid-area: apiExampleImage; }
div.apiExampleTitle	{ grid-area: apiExampleTitle; }
div.apiExampleText 	{ grid-area: apiExampleText; }
div.apiExampleButton { grid-area: apiExampleButton; }

div.apiExample {
	grid-area: apiExample;
	grid-template-areas: 
		"apiExampleImage apiExampleTitle"
		"apiExampleText apiExampleText"
		"apiExampleButton apiExampleButton"
}

/**Robotics Club Website - UX, Marketing**/

div.roboticsExampleImage {
	grid-area: roboticsExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
div.roboticsExampleImageBackgrounds {
	background-color: #DEB3AD;
}
div.roboticsExampleTitle { grid-area: roboticsExampleTitle; }
div.roboticsExampleText { grid-area: roboticsExampleText; }
div.roboticsExampleButton { grid-area: roboticsExampleButton; }

div.roboticsExample {
	grid-area: roboticsExample; 
	grid-template-areas: 
		"roboticsExampleImage roboticsExampleTitle"
		"roboticsExampleText roboticsExampleText"
		"roboticsExampleButton roboticsExampleButton"
}

/**Aftermarket Planning Team SharePoint Site - UX**/

div.aftermarketExampleImage {
	grid-area: aftermarketExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
div.aftermarketExampleImageBackgrounds {
	background-color: #F6C9C3;
}
div.aftermarketExampleTitle { grid-area: aftermarketExampleTitle; }
div.aftermarketExampleText { grid-area: aftermarketExampleText; }
div.aftermarketExampleButton { grid-area: aftermarketExampleButton; }

div.aftermarketExample {
	grid-area: aftermarketExample; 
	grid-template-areas: 
		"aftermarketExampleImage aftermarketExampleTitle"
		"aftermarketExampleText aftermarketExampleText"
		"aftermarketExampleButton aftermarketExampleButton"
}

/**Customer and Product Support Scorecard - UX, Marketing**/

div.cpsExampleImage {
	grid-area: cpsExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.cpsExampleImageBackgrounds {
	background-color: #C97A80;
}
div.cpsExampleTitle 	{ grid-area: cpsExampleTitle; }
div.cpsExampleText		{ grid-area: cpsExampleText; }
div.cpsExampleButton	{ grid-area: cpsExampleButton; }

div.cpsExample {
	grid-area: cpsExample;
	grid-template-areas: 
		"cpsExampleImage cpsExampleTitle"
		"cpsExampleText cpsExampleText"
		"cpsExampleButton cpsExampleButton"
}

/**Aftermarket Planning Team Video Series - Marketing**/

div.aftermarketVideoExampleImage {
	grid-area: aftermarketVideoExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.aftermarketVideoExampleImageBackgrounds {
	background-color: #894954;
}
div.aftermarketVideoExampleTitle 	{ grid-area: aftermarketVideoExampleTitle; }
div.aftermarketVideoExampleText		{ grid-area: aftermarketVideoExampleText; }
div.aftermarketVideoExampleButton	{ grid-area: aftermarketVideoExampleButton; }

div.aftermarketVideoExample {
	grid-area: aftermarketVideoExample;
	grid-template-areas: 
		"aftermarketVideoExampleImage aftermarketVideoExampleTitle"
		"aftermarketVideoExampleText aftermarketVideoExampleText"
		"aftermarketVideoExampleButton aftermarketVideoExampleButton"
}

/**Dawn Food Training Videos and Modules - Marketing**/

div.dawnExampleImage {
	grid-area: dawnExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.dawnExampleImageBackgrounds {
	background-color: #C48B94;
}
div.dawnExampleTitle 	{ grid-area: dawnExampleTitle; }
div.dawnExampleText		{ grid-area: dawnExampleText; }
div.dawnExampleButton	{ grid-area: dawnExampleButton; }

div.dawnExample {
	grid-area: dawnExample;
	grid-template-areas: 
		"dawnExampleImage dawnExampleTitle"
		"dawnExampleText dawnExampleText"
		"dawnExampleButton dawnExampleButton"
}

/**IASourceLink Checklist - Marketing**/

div.checklistExampleImage {
	grid-area: checklistExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.checklistExampleImageBackgrounds {
	background-color: #F29C9F;
}
div.checklistExampleTitle 	{ grid-area: checklistExampleTitle; }
div.checklistExampleText	{ grid-area: checklistExampleText; }
div.checklistExampleButton	{ grid-area: checklistExampleButton; }

div.checklistExample {
	grid-area: checklistExample;
	grid-template-areas: 
		"checklistExampleImage checklistExampleTitle"
		"checklistExampleText checklistExampleText"
		"checklistExampleButton checklistExampleButton"
}

/**SOFIRST Social Media - Marketing**/

div.sofirstExampleImage {
	grid-area: sofirstExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.sofirstExampleImageBackgrounds {
	background-color: #A05C68;
}
div.sofirstExampleTitle 	{ grid-area: sofirstExampleTitle; }
div.sofirstExampleText		{ grid-area: sofirstExampleText; }
div.sofirstExampleButton	{ grid-area: sofirstExampleButton; }

div.sofirstExample {
	grid-area: sofirstExample;
	grid-template-areas: 
		"sofirstExampleImage sofirstExampleTitle"
		"sofirstExampleText sofirstExampleText"
		"sofirstExampleButton sofirstExampleButton"
}

/**The Wisdom to Thrive Website - UX, Marketing**/

div.wisdomThriveExampleImage {
	grid-area: wisdomThriveExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.wisdomThriveExampleImageBackgrounds {
	background-color: #9C6B72;
}
div.wisdomThriveExampleTitle 	{ grid-area: wisdomThriveExampleTitle; }
div.wisdomThriveExampleText		{ grid-area: wisdomThriveExampleText; }
div.wisdomThriveExampleButton	{ grid-area: wisdomThriveExampleButton; }

div.wisdomThriveExample {
	grid-area: wisdomThriveExample;
	grid-template-areas: 
		"wisdomThriveExampleImage wisdomThriveExampleTitle"
		"wisdomThriveExampleText wisdomThriveExampleText"
		"wisdomThriveExampleButton wisdomThriveExampleButton"
}

/**Craig's Class Rhetoric Research - Research**/

div.textToImageExampleImage {
	grid-area: textToImageExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.texToImageExampleImageBackgrounds {
	background-color: #E791A8;
}
div.textToImageExampleTitle 	{ grid-area: textToImageExampleTitle; }
div.textToImageExampleText		{ grid-area: textToImageExampleText; }
div.textToImageExampleButton	{ grid-area: textToImageExampleButton; }

div.textToImageExample {
	grid-area: textToImageExample;
	grid-template-areas: 
		"textToImageExampleImage textToImageExampleTitle"
		"textToImageExampleText textToImageExampleText"
		"textToImageExampleButton textToImageExampleButton"
}

/**Qualitative Research Class Project - Research**/

div.aiExampleImage {
	grid-area: aiExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.aiExampleImageBackgrounds {
	background-color: #785C60;
}
div.aiExampleTitle 	{ grid-area: aiExampleTitle; }
div.aiExampleText	{ grid-area: aiExampleText; }
div.aiExampleButton	{ grid-area: aiExampleButton; }

div.aiExample {
	grid-area: aiExample;
	grid-template-areas: 
		"aiExampleImage aiExampleTitle"
		"aiExampleText aiExampleText"
		"aiExampleButton aiExampleButton"
}

/**Thesis - Research**/

div.thesisExampleImage {
	grid-area: thesisExampleImage;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;

}
div.thesisExampleImageBackgrounds {
	background-color: #F1D3D0;
}
div.thesisExampleTitle 	{ grid-area: thesisExampleTitle; }
div.thesisExampleText	{ grid-area: thesisExampleText; }
div.thesisExampleButton	{ grid-area: thesisExampleButton; }

div.thesisExample {
	grid-area: thesisExample;
	grid-template-areas: 
		"thesisExampleImage thesisExampleTitle"
		"thesisExampleText thesisExampleText"
		"thesisExampleButton thesisExampleButton"
}

/**Other Work Examples**/

div.distekExampleImage { grid-area: distekExampleImage; }
div.dawnHandoutExampleImage { grid-area: dawnHandoutExampleImage; }
div.PRImage { grid-area: PRImage; }
div.communicationImage { grid-area: communicationImage;}

img.distekExampleImage { 
	width: 70%;
	padding-bottom: 0.3in;
}
img.dawnHandoutExampleImage {
	width: 50%;
	padding-bottom: 0.3in;
}

img.PRImage {
	width: 40%;
	padding-bottom: 0.3in;
}
img.communicationImage{
	width: 70%;
	padding-bottom: 0.3in;
}

div.experienceOtherExamples {
	padding-bottom: 0.5in;
}

h2.otherExperienceExampleTitle {
	margin-bottom: 0;
	font-size: 30pt;
	text-align: center;
	padding-top: 0.2in;
	padding-bottom: 0.1in;
	color: #B84C65;
	border-top-style: solid;
	border-top-width: 0.03in;
	border-top-color: black;
}

a.emailInParagraph {
	color: #962547;
}

div.experienceOtherExampleImages {
	grid-area: experienceOtherExampleImages;
	display: grid;
	align-items: center;
	grid-template-columns: 100%;
	grid-template-areas: 
		"distekExampleImage"
		"dawnHandoutExampleImage"
		"PRImage"
		"communicationImage"
}

/**Other Examples - Marketing, UX, and Research Buttons**/
div.marketingExample { grid-area: marketingExample; }
div.uxExample { grid-area: uxExample; }
div.researchExample { grid-area: researchExample; }
div.otherExamplesStatement { grid-area: otherExamplesStatement; }
div.otherExperienceMarketingSubpage {
	grid-area: otherExperienceMarketingSubpage;
	display: grid;
	align-items: normal;
	grid-template-columns: 100%;
	grid-template-areas: 
		"otherExamplesStatement"
		"UXExample"
		"researchExample"
}
div.otherExperienceUXSubpage {
	grid-area: otherExperienceUXSubpage;
	display: grid;
	align-items: normal;
	grid-template-columns: 100%;
	grid-template-areas: 
		"otherExamplesStatement"
		"marketingExample"
		"researchExample"
}

div.otherExperienceResearchSubpage {
	grid-area: otherExperienceResearchSubpage;
	display: grid;
	align-items: normal;
	grid-template-columns: 100%;
	grid-template-areas: 
		"otherExamplesStatement"
		"marketingExample"
		"uxExample"
}

/**HOVER**/
p.experienceExampleButton:hover {
	background-color: #962547;
	color: #FDF3DD;
	font-family: DMSansExtraBold;
}


/**RESPONSIVE DESIGN**/
@media screen and (min-width: 700px) {
	div.experienceExampleTitle, div.experienceExampleText, div.experienceExampleButton {
		padding-left: 10%;
	}
	
	div.exampleExperiencesColumns {
		display: grid;
		align-items: normal;
		grid-template-columns: 30% 70%;
	}
	
	/**Experience Page**/
	div.generalExperienceExamples {
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-areas:
			"marketingExample uxExample researchExample"
	}
	
	div.generalExperienceColumn {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	h3.generalExperienceHeading {
		font-size: 18pt;
	}
	
	div.marketingExampleButton, div.uxExampleButton, div.researchExampleButton {
		margin-left: 5%;
		margin-right: 5%;
		padding-left: 0;
	}

	div.marketingExampleImage, div.uxExampleImage, div.researchExampleImage {
		margin-left: 0%;
		margin-right: 0%;
	}
	
	div.marketingExampleTitle, div.uxExampleTitle, div.researchExampleTitle {
		padding-left: 0;
	}
	
	/**Digital Marketing and Communication Examples - Home**/
	div.marketingExample {
		grid-template-areas: 
			"marketingExampleImage marketingExampleTitle"
			"marketingExampleImage marketingExampleText"
			"marketingExampleImage marketingExampleButton"
	}

	/**User Experience Examples - Home**/
	div.uxExample {
		grid-template-areas: 
			"uxExampleImage uxExampleTitle"
			"uxExampleImage uxExampleText"
			"uxExampleImage uxExampleButton"
	}

	/**Research Examples - Home**/
	div.researchExample {
		grid-template-areas: 
			"researchExampleImage researchExampleTitle"
			"researchExampleImage researchExampleText"
			"researchExampleImage researchExampleButton"
	}
	
	/**API Ownership Page - UX**/
	div.apiExample {
		grid-template-areas: 
			"apiExampleImage apiExampleTitle"
			"apiExampleImage apiExampleText"
			"apiExampleImage apiExampleButton"
	}

	/**Robotics Club Website - UX, Marketing**/
	div.roboticsExample {
		grid-template-areas: 
			"roboticsExampleImage roboticsExampleTitle"
			"roboticsExampleImage roboticsExampleText"
			"roboticsExampleImage roboticsExampleButton"
	}

	/**Aftermarket Planning Team SharePoint Site - UX**/
	div.aftermarketExample {
		grid-template-areas: 
			"aftermarketExampleImage aftermarketExampleTitle"
			"aftermarketExampleImage aftermarketExampleText"
			"aftermarketExampleImage aftermarketExampleButton"
	}
	
	/**Customer and Product Support Scorecard - UX, Marketing**/
	div.cpsExample {
		grid-template-areas: 
			"cpsExampleImage cpsExampleTitle"
			"cpsExampleImage cpsExampleText"
			"cpsExampleImage cpsExampleButton"
	}
	
	/**Aftermarket Planning Team Video Series - Marketing**/
	div.aftermarketVideoExample {
		grid-template-areas: 
			"aftermarketVideoExampleImage aftermarketVideoExampleTitle"
			"aftermarketVideoExampleImage aftermarketVideoExampleText"
			"aftermarketVideoExampleImage aftermarketVideoExampleButton"
	}
	
	/**Dawn Food Training Videos and Modules - Marketing**/
	div.dawnExample {
		grid-template-areas: 
			"dawnExampleImage dawnExampleTitle"
			"dawnExampleImage dawnExampleText"
			"dawnExampleImage dawnExampleButton"
	}
	
	/**IASourceLink Checklist - Marketing**/
	div.checklistExample {
		grid-template-areas: 
			"checklistExampleImage checklistExampleTitle"
			"checklistExampleImage checklistExampleText"
			"checklistExampleImage checklistExampleButton"
	}
	
	/**SOFIRST Social Media - Marketing**/
	div.sofirstExample {
		grid-template-areas: 
			"sofirstExampleImage sofirstExampleTitle"
			"sofirstExampleImage sofirstExampleText"
			"sofirstExampleImage sofirstExampleButton"
	}
	
	/**The Wisdom to Thrive Website - UX, Marketing**/
	div.wisdomThriveExample {
		grid-template-areas: 
			"wisdomThriveExampleImage wisdomThriveExampleTitle"
			"wisdomThriveExampleImage wisdomThriveExampleText"
			"wisdomThriveExampleImage wisdomThriveExampleButton"
	}
	
	/**Craig's Class Rhetoric Research - Research**/
	div.textToImageExample {
		grid-template-areas: 
			"textToImageExampleImage textToImageExampleTitle"
			"textToImageExampleImage textToImageExampleText"
			"textToImageExampleImage textToImageExampleButton"
	}
	
	/**Qualitative Research Class Project - Research**/
	div.aiExample {
		grid-template-areas: 
			"aiExampleImage aiExampleTitle"
			"aiExampleImage aiExampleText"
			"aiExampleImage aiExampleButton"
	}
	
	/**Thesis - Research**/
	div.thesisExample {
		grid-template-areas: 
			"thesisExampleImage thesisExampleTitle"
			"thesisExampleImage thesisExampleText"
			"thesisExampleImage thesisExampleButton"
	}
	
	/**Other Examples - Marketing, UX, and Research Buttons**/
	div.otherExperienceMarketingSubpage {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
			"otherExamplesStatement otherExamplesStatement"
			"uxExample researchExample"
	}
	div.otherExperienceUXSubpage {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
			"otherExamplesStatement otherExamplesStatement"
			"marketingExample researchExample"
	}
	
	div.otherExperienceResearchSubpage {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
			"otherExamplesStatement otherExamplesStatement"
			"marketingExample uxExample"
	}
	
	div.uxExampleTwoCol, div.marketingExampleTwoCol, div.researchExampleTwoCol {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media screen and (min-width: 800px){
	div.experienceTitleSection, div.experienceExamples, div.experienceTopParagraph, div.experienceOtherExamples {
		padding-left: 1.2in;
		padding-right: 1.2in;
	}
	
	div.experienceOtherExampleImages {
		grid-area: experienceOtherExampleImages;
		display: grid;
		align-items: center;
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-template-areas: 
			"distekExampleImage distekExampleImage distekExampleImage distekExampleImage distekExampleImage distekExampleImage distekExampleImage dawnHandoutExampleImage dawnHandoutExampleImage dawnHandoutExampleImage"
			"PRImage PRImage PRImage PRImage PRImage communicationImage communicationImage communicationImage communicationImage communicationImage"
	}
	
	img.distekExampleImage { 
		width: 85%;
		padding-bottom: 0.3in;
	}
	img.dawnHandoutExampleImage {
		width: 80%;
		padding-bottom: 0.3in;
	}

	img.PRImage {
		width: 48%;
		padding-bottom: 0.3in;
	}
	img.communicationImage{
		width: 80%;
		padding-bottom: 0.3in;
	}
	
}
@media screen and (min-width: 1000px){
	h3.generalExperienceHeading {
		font-size: 20pt;
	}
}